<%- include("partials/header") -%>

<div class="background">
      <h1  class="homePage">Courses!!</h1>


  <div class="card-deck row ">

        <div class="card col-md-4 col-sm-6">
              <img class="card-img-top " src="https://cdn.vox-cdn.com/thumbor/VoXJ8IaxCj5_U-366JhtUHLkdQ0=/0x0:640x427/1400x1050/filters:focal(0x0:640x427):format(jpeg)/cdn.vox-cdn.com/assets/1087137/java_logo_640.jpg" alt="Card image cap">
                  <div class="card-body">
                      <!-- <h5 class="card-title">Card title</h5> -->
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content..</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                      <a href="/java" class="class-button">click to learn!</a>
                  </div>
        </div>

        <div class="card col-md-4 col-sm-6 ">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmQ2T2pKrjo9bhun7ygxrnj4dKSb-TKw6r2w&usqp=CAU" alt="Card image cap">
                  <div class="card-body">
                      <!-- <h5 class="card-title">Card title</h5> -->
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content..</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        <a href="#" class="class-button">click to learn!</a>
                  </div>
        </div>

        <div class="card col-md-4 col-sm-6 ">
              <img class="card-img-top" src="https://thumbs.dreamstime.com/b/sql-database-icon-logo-design-ui-ux-app-orange-inscription-shadow-96841969.jpg" alt="Card image cap">
                  <div class="card-body">
                      <!-- <h5 class="card-title">Card title</h5> -->
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content..</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        <a href="#" class="class-button">click to learn!</a>
                  </div>
        </div>

        <div class="card col-md-4 col-sm-6 ">
              <img class="card-img-top" src="https://thumbs.dreamstime.com/b/database-icon-logo-modern-line-style-high-quality-black-outline-pictogram-web-site-design-mobile-apps-vector-81369618.jpg" alt="Card image cap">
                  <div class="card-body">
                      <!-- <h5 class="card-title">Card title</h5> -->
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content..</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                      <a href="#" class="class-button">click to learn!</a>
                  </div>
        </div>

        <div class="card col-md-4 col-sm-6 ">
              <img class="card-img-top" src="https://studyopedia.com/wp-content/uploads/2017/04/computer-networking.png" alt="Card image cap">
                  <div class="card-body">
                      <!-- <h5 class="card-title">Card title</h5> -->
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content..</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                      <a href="#" class="class-button">click to learn!</a>
                  </div>
        </div>
        <div class="card col-md-4 col-sm-6 ">
              <img class="card-img-top" src="https://png.pngitem.com/pimgs/s/463-4633559_operating-system-creative-commons-png-transparent-png.png" alt="Card image cap">
                  <div class="card-body">
                      <!-- <h5 class="card-title">Card title</h5> -->
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content..</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                      <a href="#" class="class-button">click to learn!</a>
                  </div>
        </div>

        <div class="card col-md-4 col-sm-6 ">
              <img class="card-img-top" src="https://www.pngitem.com/pimgs/m/23-237369_html5-and-css3-transparent-background-html-logo-hd.png" alt="Card image cap">
                  <div class="card-body">
                      <!-- <h5 class="card-title">Card title</h5> -->
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content..</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                      <a href="#" class="class-button">click to learn!</a>
                  </div>
        </div>

        <div class="card col-md-4 col-sm-6 ">
              <img class="card-img-top" src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/110765152/original/d905aa4907f79710ccac3595ddab3198924d85a7/create-mock-interview-questions-for-your-next-interview.png" alt="Card image cap">
                  <div class="card-body">
                      <!-- <h5 class="card-title">Card title</h5> -->
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content..</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    <a href="#" class="class-button">click to learn!</a>
                  </div>
        </div>

            <div class="card col-md-4 col-sm-6 ">
                <img class="card-img-top" src="https://catalystvetpc.com/wp-content/uploads/2017/12/word-cloud-job-interview-500.jpg" alt="Card image cap">
                    <div class="card-body">
                        <!-- <h5 class="card-title">Card title</h5> -->
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content..</p>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                      <a href="#" class="class-button">click to learn!</a>
                    </div>
          </div>

</div>


  <ul class="">
     <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
  </ul>

</div>
<%- include("partials/footer") -%>
