<%- include("partials/header") -%>
<p class="fontjavaejs">Welcome to JAVA</p>
<!-- <img  class="kenburns-bottom-right " src="https://dunebook.com/wp-content/uploads/2019/09/learn-Java.jpg" alt=""> -->



<div class="javamaildivclass background">
<div class="backgroundjava">


  <div class="card-deck row row1">
<h1 class="headingsjavaejs">Java Books📚</h1>


        <div class="card col-md-4 col-sm-6">
              <img class="card-img-top " src="https://images-na.ssl-images-amazon.com/images/I/41Ogqr+pwxL._SX384_BO1,204,203,200_.jpg" alt="Card image cap">
                  <div class="card-body">
                      <!-- <h5 class="card-title">Card title</h5> -->
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content..</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                      <a href="https://www.iitk.ac.in/esc101/share/downloads/javanotes5.pdf" class="class-button">click to learn!</a>
                  </div>
        </div>


        <div class="card col-md-4 col-sm-6">
              <img class="card-img-top " src="https://www.mheducation.co.in/media/catalog/product/cache/84c63a40cf0771f03c9446b22a7e0f08/9/7/9780070636774_9.jpeg
" alt="Card image cap">
                  <div class="card-body">
                      <!-- <h5 class="card-title">Card title</h5> -->
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content..</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                      <a href="https://gfgc.kar.nic.in/sirmv-science/GenericDocHandler/138-a2973dc6-c024-4d81-be6d-5c3344f232ce.pdf" class="class-button">click to learn!</a>
                  </div>
        </div>

</div>

<div class="card-deck row ">

  <h1 class="headingsjavaejs">Quick notes for revision🤯 </h1>
        <div class="card col-md-4 col-sm-6">
              <img class="card-img-top " src="https://play-lh.googleusercontent.com/i0Kzpkq3E2OCIUg86uPJ70l4y59gtwsxp-lRlWl7G-grGTRQ4PHB17nUyY6nbzJFdt3g" alt="Card image cap">
                  <div class="card-body">
                      <!-- <h5 class="card-title">Card title</h5> -->
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content..</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                      <a href="https://docs.google.com/document/d/1oH3njzRKmyC_igBsCp4b2E3s7GrJdGfIilPAahDV5W8/edit" class="class-button">click to learn!</a>
                  </div>
        </div>

        <div class="card col-md-4 col-sm-6">
              <img class="card-img-top " src="https://www.sitesbay.com/collection-framework/files/sublogo.png" alt="Card image cap">
                  <div class="card-body">
                      <!-- <h5 class="card-title">Card title</h5> -->
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content..</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                      <a href="https://www.interviewbit.com/java-collections-interview-questions/" class="class-button">click to learn!</a>
                  </div>
        </div>

        <div class="card col-md-4 col-sm-6">
              <img class="card-img-top " src="https://www.thebalancecareers.com/thmb/imhjCjJmSbT1D6hJHVow5tFaUPI=/3000x1687/smart/filters:no_upscale()/Information-technology-it-job-interview-questions-20612069-Final2-1dac64ce30d24c1ea1317d2b0f7ef7fb.png" alt="Card image cap">
                  <div class="card-body">
                      <!-- <h5 class="card-title">Card title</h5> -->
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content..</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                      <a href="https://www.interviewbit.com/java-interview-questions/" class="class-button">click to learn!</a>
                  </div>
        </div>
</div>

<div class=" row row1 ytvideo">
  <h1 class="headingsjavaejs">Quick videos for revision😉</h1>
  <div class="col-md-4">
    <iframe  width="300" height="200" src="https://www.youtube.com/embed/UmnCZ7-9yDY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="col-md-4">
    <iframe width="300" height="200" src="https://www.youtube.com/embed/rzA7UJ-hQn4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="col-md-4">
    <iframe width="300" height="200" src="https://www.youtube.com/embed/videoseries?list=PLlhM4lkb2sEhf5NlWeYh_gdcN49pHjVP0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>

<div class="row ">
  <h1 class="headingsjavaejs">Full playlist😊</h1>
  <div class="col-md-4">
  <iframe width="300" height="200" src="https://www.youtube.com/embed/videoseries?list=PLlhM4lkb2sEhfuXL-2BDrJ67WkUdQ2v9b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
<div class="col-md-4">
<iframe width="300" height="200" src="https://www.youtube.com/embed/videoseries?list=PLfqMhTWNBTe3LtFWcvwpqTkUSlB32kJop" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
</div>

<ul class="">
   <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
</ul>

  <!-- <img  class="kenburns-bottom-right " src="https://dunebook.com/wp-content/uploads/2019/09/learn-Java.jpg" alt=""> -->

</div>

<%- include("partials/footer") -%>
